/* navbar css */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #fff;
  align-items: center;
  height: 64px;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  cursor: pointer;
}

/* product page css  */
  .product-list {
    padding: 20px;
  }
  
  .search-bar {
    margin-bottom: 20px;
  }
  
  .product-card {
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .product-image {
    width: 100%;
    height: 200px;
    object-fit: cover
  }
  
  .product-description {
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .pagination {
    margin-top: 20px;
    text-align: center;
  }


  /* cart css */

  .cart-page {
    padding: 20px;
  }
  
  .cart-item {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
  }
  
  .cart-image {
    width: 80px;
    height: auto;
  }
  
  .cart-actions {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .quantity-controls {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .quantity {
    width: 32px;
    text-align: center;
  }